/*Nav Bar*/
.bg-light{
    background-color: #9BC7EB !important;
}

.navbar{
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 0px 0px 0px 10px;
    z-index: 5;
}

.navbar h1 {
    padding-left: 60px;
}

.navbar img {
    float: left;
}

.navbar-nav{
   /* background-color: plum; */
   margin-left: auto;
   margin-right: 0 !important;
}
/* .collapse{
 background-color: cyan;
} */

.nav-link{
    display: inline-block;
    padding-left: 5%;
}

/*Background*/
body {
    height: auto;
    background-color: #FFDEAC; /* For browsers that do not support gradients */
    background-image: linear-gradient(#FFDEAC, #F4FEAC, #9DE9E4, #BCB1EF,#A35AFF);
    z-index: 0;
}

.whiteBox{
    background: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    border-radius: 10px !important;
    padding: 15px !important;
    margin-left: 5%;
    margin-right: 5%
}

.cloudBig{
    padding-top: 60px;
    width: 25%;
    z-index: -1;
}

.cloudSmall{
    padding-top: 200px;
    z-index: -1;
    margin-right:0;
    margin-left: auto;
    display:block;
}

.fixed-bottom{
    width: 100%;
    z-index: -1;
}

.buddy{
    margin-left: 1%;
    margin-right: 1%
}


/*Welcome Section*/
#welcome{
    padding-top: 150px;
}

/*Coming Soon Section*/
#comingSoon{
    padding-top: 30px;
}

/*FAQ Section*/
#faq{
    padding-top: 30px;
    padding-bottom: 50px;
}

.accordion{
    border: none !important;
}

/*Typography*/
@font-face { /*This links the aquatico font from our files*/
    src: url("../fonts/Aquatico-Regular.otf");
    font-family: aquatico;
}

h1 {
    font-family: aquatico;
    font-size: 36px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 24px;
    color: black;
}

p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    color: black;
}

.textLeft{
    text-align: left;
    margin-left: 3%;
    margin-right: 3%;
}

.textCenter{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%
}

/*return to top button*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(255, 255, 255, 0.8); /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #9BC7EB; /* Add background on hover */
  }